@import "tailwindcss" important;
@font-face {
  font-family: "AMX Black";
  src: url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Black.woff2?") format("eot"), url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Black.woff2") format("woff2"), url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Black.woff") format("woff"), url("https://www.claro.com.pe/assets/havas/general/fonts/AMX-Black.woff2") format("truetype");
}
@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-amx-bold: "AMX", sans-serif;
  --font-amx-regular: 'AMX Regular', sans-serif;
  --font-amx-medium: 'AMX Medium', sans-serif;
  --font-amx-black: 'AMX Black', sans-serif;
  --breakpoint-2xl: 100rem;
  --breakpoint-container-2xl: 1440px;
  --color-claro: #DA291C;
  --color-claro-dark: #9F1C12;
  --animate-float: float 3s ease-in-out infinite;
}

@utility container {
  @media (width >= theme(--breakpoint-xl)) {
    max-width: 1280px;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    max-width: var(--breakpoint-container-2xl);
  }
}

:root{
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-navigation-color: rgba(255, 255, 255, 0.85);
  --swiper-pagination-color: #DA291C;
}

.headerEv .hdMainLeft .logo img{
  max-width: fit-content;
}

/* Just-validate styles */
input.border-red-500,
select.border-red-500,
textarea.border-red-500 {
  border-color: #ef4444 !important;
}

input.border-green-500,
select.border-green-500,
textarea.border-green-500 {
  border-color: #10b981 !important;
}

.just-validate-error-label {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: #ef4444;
}

/* AutoSuggest Email styles */
.asm-dropdown {
  background: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.25rem;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.asm-dropdown li {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.asm-dropdown li:hover,
.asm-dropdown li.is-highlighted {
  background-color: #f3f4f6;
}

.asm-dropdown li strong {
  font-weight: 600;
  color: black;
}


@keyframes float {
  0% {
    transform: translateY(0px); /* Start at original position */
  }
  50% {
    transform: translateY(-15px); /* Move up 15px */
  }
  100% {
    transform: translateY(0px); /* Return to original position */
  }
}