---
import "aos/dist/aos.css";
import Layout from "@layouts/Layout.astro";
import Banner from "@components/Banner.astro";
import Participa from "@components/Participa.astro";
import bg_circle from "@/assets/images/bg_transparent_circle.webp"
import ModalTratamientos from "@components/Modal/Tratamientos.astro"
import ModalPromociones from "@components/Modal/Promociones.astro"
import Preaload from "@UI/Preaload.astro"
import Premios from "@components/PremiosV2.astro"
import Ruleta from "@components/Ruleta.astro"
---

<Layout title="Ruleta Ganadora">
	<Ruleta />
	<Banner />
	<div class="relative md:-mt-20 xl:-mt-40 section_hidden">
		<img loading="lazy" class="absolute object-contain w-full -top-14 md:-top-1/12 xl:-top-0/14 2xl:-top-1/20 left-0 inset-0 md:backdrop-blur-[2px]" src={bg_circle.src} alt="">
		<Participa />
		<Premios />
	</div>
	<ModalTratamientos />
	<ModalPromociones />
	<Preaload />
</Layout>

<script>
	import AOS from "aos";
	AOS.init();
	AOS.refresh();
</script>
