---
import "aos/dist/aos.css";
import Layout from "@layouts/Layout.astro";
import Banner from "@components/Banner.astro";
import Participa from "@components/Participa.astro";
import Button from "@UI/Button.astro";
---

<Layout title="Ruleta Ganadora">
	<Banner />
	<!-- <div class="bg-linear-to-t from-white to-[#FFFCE0]">
		<Participa />
	</div> -->
	<section>
		<div class="container text-center flex flex-col gap-2">
			<h2>¡Participar es muy fácil!</h2>
			<div class="flex gap-4 justify-center">
				<Button>Prepago</Button>
				<Button>Postpago</Button>
			</div>
			<div class="flex gap-4 justify-center py-4">
				<picture>
					<img src="https://placehold.co/270x400?text=Image+1" alt="">
				</picture>
				<picture>
					<img src="https://placehold.co/270x400?text=Image+2" alt="">
				</picture>
				<picture>
					<img src="https://placehold.co/270x400?text=Image+3" alt="">
				</picture>
			</div>
			<div class="flex gap-4 justify-center py-4">
				<div>
					<h3>Paso 01</h3>
					<p>Realiza una recarga desde S/7 o adquiere un paquete...</p>
				</div>
				<div>
					<h3>Paso 02</h3>
					<p>Ingresa tus datos y valida tu línea Claro.</p>
				</div>
				<div>
					<h3>Paso 03</h3>
					<p>¡Gira la ruleta y gana premios al instante!</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container text-center flex flex-col gap-2">
			<h2>Conoce los premios que puedes ganar</h2>
			<p>Cada giro te da la oportunidad de ganar beneficios instantáneos:</p>
			<Button classes="min-w-fit px-10 py-3 xl:py-3.5 mx-auto" >¡Quiero participar!</Button>
			<div class="flex gap-4 justify-center py-4">
				<picture>
					<img src="https://placehold.co/270x400?text=Image+1" alt="">
				</picture>
				<picture>
					<img src="https://placehold.co/270x400?text=Image+2" alt="">
				</picture>
				<picture>
					<img src="https://placehold.co/270x400?text=Image+3" alt="">
				</picture>
			</div>
		</div>
	</section>
	<!-- <section class="hero">
		<h1>Regístrate y participa en Ruleta Ganadora</h1>
		<p>Gira y gana más gigas, accesorios, equipos y muchos premios más</p>
		<button>¡Quiero participar!</button>
	</section>

	<main>
		<section class="como-participar">
			<h2>¡Participar es muy fácil!</h2>

			<div class="segmentos">
				<button>Prepago</button>
				<button>Postpago</button>
			</div>

			<div class="pasos">
				<article class="paso">
					<h3>Paso 01</h3>
					<p>Realiza una recarga desde S/7 o adquiere un paquete...</p>
				</article>
				<article class="paso">
					<h3>Paso 02</h3>
					<p>Ingresa tus datos y valida tu línea Claro.</p>
				</article>
				<article class="paso">
					<h3>Paso 03</h3>
					<p>¡Gira la ruleta y gana premios al instante!</p>
				</article>
			</div>
		</section>

		<section class="premios">
			<h2>Conoce los premios que puedes ganar</h2>
			<p>Cada giro te da la oportunidad de ganar beneficios instantáneos</p>

			<button>¡Quiero participar!</button>

			<div class="carousel-premios">
				<button class="prev"></button>
				<ul class="lista-premios">
					<li>Celulares</li>
					<li>Audífonos</li>
					<li>Accesorios</li>
				</ul>
				<button class="next"></button>
			</div>
		</section>
		<section class="terminos">
		</section>
	</main> -->
</Layout>

<script>
	import AOS from "aos";
	AOS.init();
	AOS.refresh();
</script>
