---

---

<div class="section__modals" id="modaltratamiento">
  <div class="section__modals__modal">
    <div class="section__modals__modal-close"></div>
    <hgroup class="section__modals__modal-group">
      <p class="section__modals__modal-group-title">
        Tratamiento de mis datos personales
      </p>
    </hgroup>
    <div class="section__modals__modal-main">
      <p class="section__modals__modal-main-text">
        Autorizo a AMERICA MOVIL PERU S.A.C. con domicilio en Av. Nicolás
        Arriola N° 480, Santa Catalina, La Victoria, provincia y departamento de
        Lima (CLARO), para tratar mis datos personales y registrarlos en el
        Banco de Datos Personales “Clientes” de su titularidad, con la finalidad
        de llamarme o enviarme mensajes de texto (SMS), mensajes electrónicos
        y/o correos electrónicos con contenido informativo, publicitario y/o
        promocional sobre los productos y/o servicios que he solicitado mediante
        este formulario. Declaro conocer que (i) mis datos serán registrados por
        el tiempo necesario para cumplir con la finalidad expuesta, o hasta que
        decida revocar mi autorización, (ii) CLARO podrá compartir su
        información con terceros encargados del tratamiento de sus datos
        personales, (iii) mi autorización resulta facultativa, pero en caso de
        negativa, la finalidad expuesta no podrá realizarse, (iv) podré ejercer
        los derechos ARCO (Acceso, Rectificación, Cancelación y Oposición); en
        los puntos de atención designados para tal efecto o a través del
        siguiente <a
          href="https://www.claro.com.pe/legal-y-regulatorio/derechos-arco/"
          target="_blank">enlace.</a>
      </p><br /><p class="section__modals__modal-main-text">
        Para consultar el detalle de los encargados de tratamiento y mayor
        información, revisa nuestra <a
          href="https://www.claro.com.pe/proteccion-datos/"
          target="_blank">Política de Privacidad.</a>
      </p>
    </div><div class="section__modals__modal-footer">
      <button class="section__modals__modal-footer-close">Entendido</button>
    </div>
  </div>
</div>
