---
import logo_01 from "@/assets/images/auspiciadores/logo01.png"
import logo_02 from "@/assets/images/auspiciadores/logo02.png"
import logo_03 from "@/assets/images/auspiciadores/logo03.png"
import logo_04 from "@/assets/images/auspiciadores/logo04.png"
import logo_05 from "@/assets/images/auspiciadores/logo05.png"
import logo_06 from "@/assets/images/auspiciadores/logo06.png"
import logo_07 from "@/assets/images/auspiciadores/logo07.png"
const auspiciadores = [
  {
    image: logo_01.src,
    name: "Bembos",
    classname: "max-w-[54px] md:max-w-fit h-auto"
  },
  {
    image: logo_02.src,
    name: "Xiaomi",
    classname: "max-h-[18px] md:max-h-fit h-auto"
  },
  {
    image: logo_04.src,
    name: "OPPO",
    classname: "max-h-[38px] md:max-w-fit h-auto"
  },
  {
    image: logo_05.src,
    name: "ZTE",
    classname: "max-h-[22px] md:max-h-fit h-auto"
  },
  {
    image: logo_06.src,
    name: "VIVO",
    classname: "max-h-[22px] md:max-h-fit h-auto"
  },
  {
    image: logo_07.src,
    name: "HONOR",
    classname: "max-h-[22px] md:max-h-fit h-auto"
  }
]
---

<section class="relative bg-transparent z-10 text-white pb-14 xl:pb-10">
  <div class="container">
    <h3 class="text-center font-amx-bold text-2xl xl:text-[42px]">Auspiciadores</h3>
    <div class="flex flex-wrap justify-center items-center gap-8 md:gap-12 pt-6 md:pt-12 pb-12 xl:pb-6">
      {auspiciadores.map((auspiciador, index) => (
        <img class={auspiciador.classname} src={auspiciador.image} alt={auspiciador.name}>
      ))}
    </div>
    <button class="w-fit mx-auto cursor-pointer font-amx-bold flex xl:hidden gap-2 items-center justify-center group goToForm bg-white text-claro hover:bg-claro hover:text-white md:text-lg rounded-full px-5 py-2.5 md:py-3 xl:py-3.5 transition-all duration-300" data-next-step="2">
      <div>
        <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.75 7L6.375 0.75L12 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M0.75 14.5L6.375 8.25L12 14.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
			<span class="leading-none">
					¡Quiero participar!
			</span>
      <div>
        <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.75 7L6.375 0.75L12 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M0.75 14.5L6.375 8.25L12 14.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
		</button>
  </div>
</section>